.poker {
	border-radius: 8px;
	border-color: transparent;
}

button, input[type=submit] {
	border-radius: 4px;
}

button.choice {
	border-radius: 50%;
	&:last-child {
		border-radius: 4px;
		padding: 0 16px;
	}
}

.members-list {
	border-radius: 8px;
}

button.result > .vote-names {
	border-radius: 8px;
}
