:root {
	--main-accent-color: #2ca0cc;
	--main-background-color: #111;

	--text-color: #ddd;

	--voted-color: #79b924;
	--not-voted-color: #2ca0cc;

	--choice-chosen-border-color: #2ca0cc;

	--poker-border-color: #222;
	--poker-background-color: #333;

	--text-input-background-color: #222;
	--text-input-color: #ddd;
	--text-input-border-color: #444;

	--members-list-background-color: rgba(0, 0, 0, 0.75);

	--no-spread-background-color: #4e5d3b;
	--high-spread-background-color: #792323;

	--server-status-disconnected: #792323;
}
