:root, [data-theme="default"] {
	--font: 'Roboto', sans-serif;
	--font-title: 'Roboto', sans-serif;

	--text-color: black;

	--main-background-color: #efefef;

	--no-spread-background-color: #82a159;
	--high-spread-background-color: #c94545;
	--normal-spread-background-color: #efefef;

	--main-accent-color: #a4286a;
	--main-accent-color-contrast: white;

	--icon-color: #a4286a;

	--voted-color: #477608;
	--not-voted-color: #a4286a;

	--poker-border-color: #a4286a;
	--poker-background-color: white;

	--choice-hover-background-color: darkgray;
	--choice-hover-color: black;
	--choice-chosen-border-color: #477608;
	--choice-highlighted-color: #a4286a;

	--story-updated-color: #477608;

	--refinement-finished-header-color: #477608;

	--status-connected: #477608;
	--status-disconnected: #a4286a;

	--members-list-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	--members-list-background-color: rgba(255, 255, 255, 0.75);

	--text-input-background-color: white;
	--text-input-border-color: #eee;

	--section-border-style: dashed;
	--section-border-color: var( --main-accent-color );
}

[data-theme="dark"] {
	--main-accent-color: #2ca0cc;
	--main-background-color: #111;

	--text-color: #ddd;

	--voted-color: #79b924;
	--not-voted-color: #2ca0cc;

	--choice-chosen-border-color: #2ca0cc;

	--poker-border-color: #222;
	--poker-background-color: #333;

	--text-input-background-color: #222;
	--text-input-color: #ddd;
	--text-input-border-color: #444;

	--members-list-background-color: rgba(0, 0, 0, 0.75);

	--no-spread-background-color: #4e5d3b;
	--high-spread-background-color: #792323;

	--status-disconnected: #792323;
	--section-border-color: var( --main-accent-color );
}

* {
	font-family: var( --font );
}

html, body {
	font-weight: 400;
	color: var( --text-color );
	margin: 0;
	padding: 0;
	height: 100%;
}

main {
	transition: background-color 500ms ease-in-out;
	background-color: var( --main-background-color );
	width: 100%;
	min-height: 100%;
	padding: 20px;
	box-sizing: border-box;

	&.no-spread {
		background-color: var( --no-spread-background-color );
	}
	
	&.high-spread {
		background-color: var( --high-spread-background-color );
	}
	
	&.normal-spread {
		background-color: var( --main-background-color );
	}
	
	&.finished {
		background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
		background-size: 1800% 1800%;
	
		animation: rainbow 18s ease infinite;
	}

	&.finished,
	&.no-spread,
	&.high-spread {
		& .credits {
			&,
			& a {
				color: black;
			}
		}
	}
}

h1, h2, h3 {
	font-family: var( --font-title );
	color: var( --main-accent-color );
}

h1 {
	font-weight: 700;
	font-size: 4em;
	margin: 0 0 0.2em 0;

	&.finished {
		color: var( --refinement-finished-header-color );
	}
}

h2 {
	margin: 0 0 0.2em 0;
}

label {
	cursor: pointer;
}

.fas {
	color: var( --icon-color );

	&.observer {
		color: black;
	}
}

.theme {
	text-align: right;
	width: 100%;
	margin-bottom: 16px;
	font-size: 0.9em;
}

button,
input[type=submit] {
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	padding: 5px 7px;
	cursor: pointer;
	border: 1px solid darkgray;
	border-radius: 2px;
	outline: none;

	&:active {
		position: relative;
		top: 1px;
		box-shadow: none;
	}

	&:hover,
	&:active {
		&,
		& .fas {
			color: var( --icon-color );
		}
	}
}

input[type=text] {
	font-size: 16px;
	padding: 4px;
	border: 1px inset;
	color: var( --text-color );
	background-color: var( --text-input-background-color );
	border-color: var( --text-input-border-color );

	&.changed {
		box-shadow: 0 0 0 2px var( --story-updated-color );
		transition: box-shadow 250ms ease-in-out;
		border-radius: 3px;
	}
}

button {
	& .fas {
		color: black;
		margin-right: 3px;
	}

	&[disabled] {
		&,
		& .fas {
			color: darkgrey;
		}
	}
}

a {
	color: var( --main-accent-color );
}

p.results {
	margin-bottom: 1em;
}

.container {
	max-width: 800px;
	margin: 0 auto 20px;
	position: relative;
	box-sizing: border-box;

	&:last-child {
		margin-bottom: 0;
	}
}

.credits {
	color: #666;
	font-size: 16px;
	font-variant: all-small-caps;
	text-align: center;
}

.poker {
	padding: 16px 24px 0;
	border: 1px solid var( --poker-border-color );
	border-radius: 4px;
	background-color: var( --poker-background-color );
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

section.storyControls {
	margin: 1em -24px;
	padding: 1em 26px 0.5em;
	border-top: 1px var( --section-border-style ) var( --section-border-color );
	border-bottom: 1px var( --section-border-style ) var( --section-border-color );
}

.storyHistory {
	padding: 0 26px;
	margin: 1em -24px 0;
	border-top: 1px var( --section-border-style ) var( --section-border-color );
}

.members-list-container {
	position: absolute;
	right: 20px;
	z-index: 100;
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	text-align: right;

	& .pressed {
		box-shadow: none;
		margin-top: 1px;
		margin-bottom: -1px;
	}

	.members-list {
		border: 1px solid var( --main-accent-color );
		margin-top: 10px;
		min-width: 150px;
		padding: 10px 10px 0 20px;
		box-shadow: var( --members-list-shadow );
		background-color: var( --members-list-background-color );

		& strong {
			color: var( --main-accent-color );
		}
	
		& ul {
			margin-top: 4px;
			padding-left: 10px;
		}
		
		& li {
			list-style: none;
			margin: 0;
		}
	
		& .fa-person-booth {
			margin-left: 4px;
			color: var( --status-connected );
		}
		
		& .fa-user-secret {
			margin-left: 5px;
			margin-right: 3px;
		}
	
		& .fa-plug {
			margin-left: 5px;
			margin-right: 5px;
		}
	
		&.hidden {
			display: none;
		}
	}
}

form.rooms {
	margin-bottom: 1em;
}

div.pokerMain {
	margin-top: 1em;
}

form.storyName {
	margin-bottom: 1em;
}

div.observe {
	margin-left: 5px;
	margin-bottom: 1em;
}

div.reveal-votes {
    margin-bottom: 1.2em;
}

strong {
	color: var( --main-accent-color );
}

/* USERNAME */
form.username {
	margin-bottom: 6px;
	margin-left: 6px;
	min-height: 2em;

	& .fas {
		color: var( --text-color );
	}

	& input[type=submit] {
		display: none;
	}

	&:active,
 	&:hover,
	&.hover {
		& input[type=submit] {
			display: inline-block;
		}
	}

	& input[type=text] {
		border: 1px solid transparent;
	}

	&:active,
	&:hover,
	&.hover {
		& input[type=text] {
			border: 1px inset;
		}
	}
}

.story-updated {
	position: relative;
	top: 3px;
	margin-left: 4px;
	color: var( --story-updated-color );
}

/* POINTS */
button.choice {
	& .fas {
		color: var( --icon-color );
	}

	font-size: 14px;
	min-width: 40px;
	height: 40px;
	border-radius: 4px;
	border-width: 0;
	margin: 0 6px 6px 0;
	cursor: pointer;
	outline: 0;
	user-select: none;

	&:last-child {
		min-width: 86px;
	}

	&:active,
	&:hover {
		background-color: var( --choice-hover-background-color );
		color: var( --choice-hover-color );
	}
}

button.picked {
	border: 2px solid var( --choice-chosen-border-color );
}

button.initial {
	background-color: darkgray;
	border-color: white;
	top: 1px;
	position: relative;
	box-shadow: none;
}

button.highlighted {
	&,
	&:hover,
	&:active {
		background-color: var( --choice-highlighted-color );
		border-color: var( --choice-highlighted-color );
		color: white;
		top: 1px;
		position: relative;
		box-shadow: none;
	}

	& .fas {
		color: var( --main-accent-color-contrast );
	}
}

button.result {
	font-size: 16px;
	min-width: 55px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid transparent;
	padding: 0 14px;
	box-shadow: none;
	z-index: 10;
	position: relative;
	transition: transform 250ms ease-out;

	&:hover {
		color: black;
	}
	
	&:active {
		top: 0;
	}
	
	&:focus {
		outline: 0;
	}

	& .fas {
		font-size: 20px;
	}

	& > .fas {
		color: var( --icon-color );
	}

	&.initialVote {
		z-index: 1;
		position: absolute;
	
		& + button.result {
			left: 0;
			top: 14px;
			border: 1px solid #999;
			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
		}

		&:hover,
		&:active,
		&:focus {
			& + button.result {
				transform: translateY(25px);
			}
		}
	}

	& > .vote-names {
		position: absolute;
		padding: 10px;
		margin-top: 24px;
		border-radius: 3px;
		border: 1px solid var( --main-accent-color );
		display: none;
		color: var( --text-color );
		background: var( --members-list-background-color );
		box-shadow: 3px 3px 0 -1px var( --main-accent-color );
	}
	
	&:active,
	&:hover {
		& > .vote-names {
			display: block;
		}
	}
}

p.final {
	& > button.result {
		&,
		&:active {
			font-weight: bold;
			border-color: var( --main-accent-color );
			border-width: 2px;
			border-style: solid;
			color: var( --main-accent-color );
			cursor: help;
		}
	}
}

span.resultContainer {
	margin: 0 4px 8px;
	position: relative;
	display: inline-block;
	z-index: 4;

	&:hover {
		z-index: 10;
	}
	
	&:first-child {
		margin-left: 0;
	}
}

div.voting {
	display: flex;

	& .voted {
		color: var( --voted-color );
	}
	
	& .unvoted {
		color: var( --not-voted-color );
	}

	& .voted,
	& .unvoted {
		flex: 50%;

		& .far {
			margin-right: 2px;
		}
	}
}

[data-theme="dark"] .voting {
	& .voted,
	& .unvoted {
		& .far {
			font-weight: bold;
		}
	}
}

span.allVoted {
	padding: 6px;
	position: relative;
	top: 1px;
}

.storyHistory {
	& h3 {
		cursor: pointer;
		user-select: none;

		&::after {
			font-family: 'Font Awesome 5 Free';
			content: '\f424';
			font-size: 14px;
			margin-left: 8px;
		}
	}
	
	&.hidden {
		& .story {
			display: none;
		}

		& h3::after {
			font-family: 'Font Awesome 5 Free';
			content: '\f422';
			font-size: 14px;
			margin-left: 8px;
		}
	}

	& .fas {
		color: var( --main-accent-color );
	}
}

.story {
	& button {
		margin-bottom: 16px;

		&[disabled] .fas {
			color: darkgrey;
		}
	}

	& ul {
		margin-top: 4px;
	}
}

.fa-plug {
	&.connected {
		color: var( --status-connected );
	}

	&.disconnected {
		color: var( --status-disconnected );
	}
}

@media only screen and (max-width: 820px) {
	.members-list-container {
		display: none;
	}

	main .poker:first-child {
		margin-top: 0;
	}

	.poker {
		padding: 10px 15px 0;
	}

	.credits {
		padding: 0 15px;
	}

	h1 {
		font-size: 3em;
	}

	input[type=text] {
		width: 120px;
	}

	.storyHistory,
	section.storyControls {
		margin-left: -15px;
		margin-right: -15px;

		padding-left: 1em;
		padding-right: 1em;
	}
}

@keyframes rainbow {
	0% {
		background-position: 0 82%
	}
	50% {
		background-position: 100% 19%
	}
	100% {
		background-position: 0 82%
	}
}
