<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pum Scroker!</title>
    <link href="/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/92b43d9045.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<main id="v-app">
    <section class="poker">
        <h1>Pum Scroker</h1>

        <section v-if="loading">
            Connecting to the server...
        </section>

        <section v-if="!loading">
            <section v-if="!activePoker">
                <p>Welcome to Pum Scroker!</p>
                <p>This tool was created for scrum-teams to have a digital place where they can do their refinement.
                    As many teams are working remotely due to the global COVID-19 situation.
                </p>
                <p>Join a room to start refining.</p>

                <form class="rooms">
                    Room: <input type="text" v-model="joinPoker"/>
                    <input type="submit" @click.prevent="joinRoom()" value="Join room!">
                </form>

            </section>

            <div class="pokerMain" v-if="activePoker">
                <form class="username" :class="[!nickname ? 'hover' : '']">
                    <span><i class="fas fa-signature"></i> Nickname:</span>
                    <input type="text" v-model="nickname"/>
                    <input type="submit" @click.prevent="updateNickname" value="update nickname"/>
                </form>

                <div class="observe">
                    <label>
                        <input
                                type="checkbox"
                                v-model="observer"
                                @change="observerChange()"/>
                        {{ observing }}
                    </label>
                </div>

                <button @click.prevent="newStory()" class="new" :disabled="voteCount === 0"><i
                        class="fas fa-eraser"></i>
                    New story
                </button>
                <span class="new" v-if="voteCount === members && members">All votes are in!</span>

                <hr/>

                <button
                        v-for="point of points"
                        @click.prevent="castVote(point)"
                        :class="[ 'choice', votes.includes( point ) ? 'picked' : '', myVote === point ? 'highlighted' : '' ]">
                    <i :class="['fas','fa-mug-hot']" v-if="point === 'coffee'"></i>
                    {{ point }}
                </button>

                <hr/>

                <p :class="[ 'results', this.members === this.voteCount ? 'final' : '' ]">
                    <button v-for="vote of votes" :title="voteNames && voteNames[vote] && voteNames[vote].join( ', ' )">
                        <i :class="['fas','fa-mug-hot']" v-if="vote === 'coffee'"></i>
                        {{ vote }}
                    </button>
                </p>

                <section v-if="average !== ''">
                    <p>
                        Average: {{ average }}<br/>
                        Standard deviation: {{ standardDeviation }}<br/>
                        <strong>Average story point: {{ averagePoint }}</strong>
                    <p v-if="averageContext">
                        <strong>{{ averageContext }}</strong>
                    </p>
                </section>

                <div class="voteMembers" v-if="unvotedNames.length > 0">
                    <div class="voted">
                        <strong><i class="far fa-check-circle"></i> Voted:</strong>
                        <ul>
                            <li v-for="name of votedNames">{{ name }}</li>
                        </ul>
                        <p v-if="votedNames.length === 0">Nobody voted yet.</p>
                    </div>
                    <div class="unvoted">
                        <strong><i class="far fa-times-circle"></i> Not voted yet:</strong>
                        <ul>
                            <li v-for="name of unvotedNames">{{ name }}</li>
                        </ul>
                        <p v-if="unvotedNames.length === 0">Everybody voted!</p>
                    </div>
                </div>

                <div :class="['storyHistory', showHistory ? '':'hidden']">
                    <h3 @click="toggleHistory()">Story history</h3>
                    <section class="story">
                        <button @click="resetHistory()" v-if="!observer" :disabled="storyHistory.length === 0">Reset
                            history
                        </button>
                        <section v-for="story of storyHistory">
                            <strong>Story result: {{ story.result }}</strong><br/>
                            Votes:
                            <ul>
                                <li v-for="vote of story.votes">
                                    {{ vote.name }}: {{ vote.vote }}
                                </li>
                            </ul>
                        </section>
                    </section>
                </div>
            </div>
        </section>
    </section>
</main>
<script>
  new Vue({
    el: '#v-app',
    data: {
      socket: null,
      loading: true,
      baseTitle: '',
      activePoker: false,
      joinPoker: '',
      points: {},
      nickname: '',
      observer: false,
      myVote: '',
      members: 0,
      names: [],
      votes: [],
      voteCount: 0,
      voteNames: {},
      votedNames: [],
      showHistory: false,
      storyHistory: [],
    },
    methods: {
      observerChange () {
        window.localStorage.setItem(this.activePoker + '-observer', this.observer)

        if (this.observer) {
          this.socket.emit('observe', { poker: this.activePoker })
        } else {
          this.joinRoom(true)
          this.updateNickname()
        }
      },
      updateNickname () {
        if (!this.nickname) return

        window.localStorage.setItem('nickname', this.nickname)
        this.socket.emit('nickname', { name: this.nickname, poker: this.activePoker })
      },
      castVote (vote) {
        if (this.observer) {
          return
        }

        if (this.voteCount === this.members) {
          return
        }

        this.myVote = vote
        this.socket.emit('vote', { poker: this.activePoker, vote: vote })
      },
      newStory () {
        // No votes, nothing to do...
        if (this.voteCount === 0) {
          return
        }

        // Confirm when not everybody has voted.
        if (this.voteCount !== this.members) {
          if (!window.confirm('Are you sure you want to start a new story, not all votes are in yet.')) {
            return
          }
        }
        this.socket.emit('newStory', { poker: this.activePoker, result: this.averagePoint })
      },
      resetHistory () {
        if (!window.confirm('Are you sure you want to clear the history?\n\nThis clears the history for all members in this room.')) {
          return
        }
        this.socket.emit('resetHistory', { poker: this.activePoker })
      },
      joinRoom (force) {
        this.joinPoker = this.joinPoker.toLowerCase()
        if (!this.joinPoker || (this.activePoker === this.joinPoker && !force)) {
          return
        }

        this.myVote = ''
        this.members = 0
        this.voteCount = 0

        this.socket.emit('leave', { poker: this.activePoker })

        this.activePoker = this.joinPoker

        if (this.activePoker === '') {
          return
        }

        this.socket.emit('join', { poker: this.activePoker, name: this.nickname })
      },
      toggleHistory () {
        this.showHistory = !this.showHistory
        window.localStorage.setItem('showHistory', this.showHistory)
      },
      onJoined: function (msg) {
        this.activePoker = this.joinPoker = msg.poker

        const url = new URL(window.location)
        url.searchParams.set('room', this.activePoker)
        window.history.pushState({}, '', url)
      },
      onMembersUpdated (msg) {
        this.members = msg.members
      },
      onStoryHistory (msg) {
        this.storyHistory = (msg.stories || []).reverse()
      },
      onReceiveVote (msg) {
        this.votes = msg.votes.sort((a, b) => a - b)
        this.voteCount = msg.voteCount
        this.votedNames = msg.votedNames || []
        this.names = msg.names
        this.voteNames = msg.voteNames || {}

        if (this.voteCount === 0) {
          this.myVote = ''
        }

        document.title = this.baseTitle + ' ' + this.voteCount + '/' + this.members
      },
      onPoints (msg) {
        this.points = msg.points
      },
    },
    computed: {
      unvotedNames () {
        const result = this.names
        for (const name of this.votedNames) {
          const index = result.indexOf(name)
          if (index !== -1) {
            result.splice(index, 1)
          }
        }
        return result
      },
      observing () {
        return this.observer ? 'Observing…' : 'Observe'
      },
      average () {
        if (this.voteCount === 0) {
          return ''
        }

        let sum = 0
        for (let i = 0; i < this.votes.length; i++) {
          if (isNaN(this.votes[i])) {
            return 'Coffee break'
          }
          sum += parseFloat(this.votes[i]) //don't forget to add the base
        }

        return Math.round((sum / this.votes.length) * 100) / 100
      },
      averageContext () {
        if (this.voteCount > 0) {

          // Find the difference between the lowest and the highest votes.
          const lowestIndex = this.points.indexOf(this.votes[0])
          const highestIndex = this.points.indexOf(this.votes[this.votes.length - 1])

          if (highestIndex - lowestIndex > 2) {
            return `Large gap between lowest and highest vote: ${highestIndex - lowestIndex} cards!`
          }
        }

        return ''
      },
      standardDeviation () {
        if (this.voteCount === 0) {
          return ''
        }

        if (this.votes.length <= 1 || this.votes.indexOf('coffee') !== -1) {
          return 'n/a'
        }

        let powers = 0
        for (let i = 0; i < this.votes.length; i++) {
          powers += Math.pow(parseFloat(this.votes[i]) - this.average, 2)
        }

        return Math.round(Math.sqrt(powers / this.votes.length) * 100) / 100
      },
      averagePoint () {
        if (this.voteCount === 0) {
          return ''
        }

        if (this.points.indexOf(this.average) !== -1) {
          return this.average
        }

        const rounded = Math.round(this.average * 10) / 10
        if (this.points.indexOf(rounded) !== -1) {
          return rounded
        }

        // find nearest point.
        for (let index = 0; index < this.points.length - 1; index++) {
          if (isNaN(this.points[index + 1])) {
            return this.average
          }
          if (this.average - this.points[index] > 0 && this.average - this.points[index + 1] < 0) {
            if (this.average - this.points[index] < Math.abs(this.average - this.points[index + 1])) {
              return this.points[index]
            }
            return this.points[index + 1]
          }
        }

        return ''
      },
    },
    created () {
      this.baseTitle = document.title

      this.joinPoker = new URLSearchParams(window.location.search.substring(1)).get('room') || ''

      // Retrieve data from local storage.
      this.nickname = window.localStorage.getItem('nickname')
      this.showHistory = window.localStorage.getItem('showHistory') !== 'false'
      if (this.joinPoker) {
        this.observer = window.localStorage.getItem(this.joinPoker + '-observer') === 'true'
      }

      this.socket = io(window.location.protocol + '//' + window.location.hostname + ':' + location.port + window.location.pathname + 'pokers')
      this.socket.on('connect', () => {
        this.joinRoom(true)
        this.observerChange()
      })

      this.socket.on('points', (msg) => {
        this.onPoints(msg)
        this.loading = false
      })

      this.socket.on('joined', (msg) => {
        this.onJoined(msg)
      })

      this.socket.on('members', (msg) => {
        this.onMembersUpdated(msg)
      })

      this.socket.on('votes', (msg) => {
        this.onReceiveVote(msg)
      })

      this.socket.on('stories', (msg) => {
        this.onStoryHistory(msg)
      })
    }
  })

</script>
</body>
</html>
