<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Pum Scroker!</title>
    <link href="/styles.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/92b43d9045.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<main id="v-app" :class="backgroundColor">
    <section class="poker">
        <h1>Pum Scroker</h1>

        <section v-if="!loading">
            <section v-if="!this.activePoker">
                <p>Welcome to Pum Scroker!</p>
                <p>This tool was created for scrum-teams to have a digital place where they can do their refinement.
                    As many teams are working remotely due to the global COVID-19 situation.
                </p>
                <p>Join a room to start refining.</p>

                <form class="rooms">
                    Room: <input type="text" v-model="joinPoker"/>
                    <input type="submit" @click.prevent="joinRoom()" value="Join room!">
                </form>

                <p>
                    <em>Suggestion: Prefix the room with your company name to ensure you are not
                        competing for a room.</em>
                </p>
            </section>

            <div class="pokerMain" v-if="this.activePoker">

                <section v-if="refinementFinished">
                    <h1 class="finished">Refinement done! 📣 🙌 🎉</h1>
                </section>

                <section v-if="!refinementFinished">

                    <div class="members-list-container">
                        <button @click="showMembersList = !showMembersList" :class="showMembersList ? 'pressed' : ''"><i
                                class="fas fa-clipboard-list"></i> Users ({{ members.voters.length
                            }}/{{ members.observers.length }}/{{ members.disconnected.length }})
                        </button>
                        <div :class="['members-list', showMembersList ? '' : 'hidden']">
                            <strong>Voters</strong>
                            <ul>
                                <li v-for="name in members.voters">{{ name }} <i class="fas fa-person-booth"></i></li>
                                <li v-if="!members.voters.length">None</li>
                            </ul>
                            <strong>Observers</strong>
                            <ul>
                                <li v-for="name in members.observers">{{ name }} <i class="fas fa-user-secret"></i></li>
                                <li v-if="!members.observers.length">None</li>
                            </ul>
                            <strong>Disconnected</strong>
                            <ul>
                                <li v-for="name in members.disconnected">{{ name }} <i class="fas fa-plug disconnected"></i>
                                </li>
                                <li v-if="!members.disconnected.length">None</li>
                            </ul>
                        </div>
                    </div>

                    <form class="username" :class="[!nickname ? 'hover' : '']">
                        <span><i class="fas fa-signature"></i> Nickname:</span>
                        <input type="text" v-model="nickname"/>
                        <input type="submit" @click.prevent="updateNickname" value="Update"/>
                    </form>

                    <div class="observe">
                        <label>
                            <input
                                    type="checkbox"
                                    v-model="observer"
                                    @change="observerChange()"/>
                            {{ observing }}
                        </label>
                    </div>

                    <button @click="newStory()" class="newStory" :disabled="voteCount === 0 || observer"><i
                            class="fas fa-plus-square"></i>
                        New story
                    </button>
                    <span class="allVoted" v-if="voteCount === members.voters.length && members.voters.length">All votes are in!</span>
                    <button @click="refinementDone()" class="refinement-done"><i class="fas fa-clipboard-check"></i>
                        Finish refinement
                    </button>

                    <hr/>

                    <form>
                        <label>Story name:
                            <input type="text"
                                   v-model="story"
                                   :class="storyChanged ? 'changed' : ''"
                                   @keydown="storyUpdated = false"
                                   v-on:change="storyUpdated = false"
                            ></label>
                        <input type="submit" @click.prevent="setStoryName()" value="Update">
                        <i v-if="storyUpdated" class="fas fa-check-circle story-updated"></i>
                    </form>
                    <br/>

                    <button
                            v-for="point of points"
                            @click.prevent="castVote(point)"
                            :class="[ 'choice', votes.includes( point ) ? 'picked' : '', myVote === point ? 'highlighted' : '' ]">
                        <i :class="['fas','fa-mug-hot']" v-if="point === 'coffee'"></i>
                        {{ point }}
                    </button>

                    <hr/>

                    <p :class="[ 'results', this.members.voters.length === this.voteCount ? 'final' : '' ]">
                        <button v-for="vote of votes" class="result">
                            <i :class="['fas','fa-mug-hot']" v-if="vote === 'coffee'"></i>
                            {{ vote }}
                            <div class="vote-names" v-if="voteNames && voteNames[vote]">
                                {{ voteNames && voteNames[vote] && voteNames[vote].join(', ') }}
                            </div>
                        </button>
                    </p>

                    <section v-if="average !== ''">
                        <p>
                            Average: {{ average }}<br/>
                            Standard deviation: {{ standardDeviation }}<br/>
                            <strong>Average story point: {{ averagePoint }}</strong>
                        <p v-if="averageContext">
                            <strong>{{ averageContext }}</strong>
                        </p>
                    </section>

                    <div class="voting" v-if="unvotedNames.length > 0">
                        <div class="voted">
                            <strong><i class="far fa-check-circle"></i> Voted:</strong>
                            <ul>
                                <li v-for="name of votedNames">{{ name }}</li>
                            </ul>
                            <p v-if="votedNames.length === 0">Nobody voted yet.</p>
                        </div>
                        <div class="unvoted">
                            <strong><i class="far fa-times-circle"></i> Not voted yet:</strong>
                            <ul>
                                <li v-for="name of unvotedNames">{{ name }}</li>
                            </ul>
                            <p v-if="unvotedNames.length === 0">Everybody voted!</p>
                        </div>
                    </div>
                </section>

                <div :class="['storyHistory', showHistory ? '':'hidden']">
                    <h3 @click="toggleHistory()">Story history</h3>
                    <section class="story">
                        <button @click="resetHistory()" v-if="!observer" :disabled="storyHistory.length === 0"><i
                                class="fas fa-eraser"></i>
                            Reset history
                        </button>
                        <button @click="popHistory()" v-if="!observer" :disabled="storyHistory.length === 0"><i
                                class="fas fa-backspace"></i>
                            Delete last result
                        </button>
                        <section v-for="story of storyHistory">
                            <strong>Story {{ story.name || 'result' }}: {{ story.result }}</strong><br/>
                            Votes:
                            <ul>
                                <li v-for="vote of story.votes">
                                    {{ vote.name }}: {{ vote.vote }}
                                </li>
                            </ul>
                        </section>
                    </section>
                </div>
            </div>
        </section>
    </section>

    <section class="poker" v-if="!this.activePoker">
        <h2>Features</h2>
        <h3>Voting</h3>
        <p>
            You can vote to set what amount of points you think the current story is. You can change your vote
            while one or more member has not cast a vote yet. When everybody has voted, you cannot change your
            vote anymore unless you start a new story.
        </p>
        <p>
            Observers cannot vote.
        </p>
        <p>
            Voting for a coffee-break will short-circuit the results, requiring a re-vote after the break. The
            coffee-break is not added the history.
        </p>

        <p>
            Naming a story will make the history more usable.
            It is not required to name a story!
            Everybody can name or rename a story.
            A checkmark will show if the current name is the name registered for the story on the server.
        </p>

        <h3>Rooms</h3>
        <p>
            You can join a room by entering a room name in input box above, or you can add a `?room={your room}` to the
            URL to quickly go to that room. It is recommended to share the URL if you want teammembers to join your room
            easily.
        </p>

        <h3>Nickname</h3>
        <p>
            You can change your nickname at any time. The history will store the nickname you had at the moment when all
            votes were in. Your nickname is stored in your browser, to have it remembered when you come back the next
            time.
        </p>

        <h3>Observer-mode</h3>
        <p>
            While observing you cannot vote, start a new story or reset the history. You're just a fly on the
            wall. Observer-mode is stored on a per-room setting, so when you return to a room you'll automatically be
            set as an observer or as a regular member.
        </p>

        <h3>Story history</h3>
        <p>
            The story-history will be saved as long as there are members in the room. When a member uses the
            button to reset the history it will be gone from the room. The same counts when removing the last history
            item.
        </p>
    </section>

    <section class="credits">
        Build using <a href="https://nestjs.com/" target="_blank">NestJS</a>
        & <a href="https://vuejs.org/" target="_blank">Vue.js</a>
        - <a href="https://github.com/moorscode/scrum-poker/" target="_blank">source</a> on GPL 3.0+
        &mdash;
        <i class="fas fa-plug" :class="socket.connected ? 'connected':'disconnected'" title="Connection status"></i>
    </section>
</main>

<script>
  new Vue({
    el: '#v-app',
    data: {
      socket: null,
      clientId: false,
      loading: true,
      refinementFinished: false,
      baseTitle: '',
      showMembersList: false,
      activePoker: false,
      joinPoker: '',
      points: {},
      nickname: '',
      observer: false,
      story: '',
      storyUpdated: false,
      storyChanged: false,
      myVote: '',
      members: { voters: [], observers: [], disconnected: [] },
      names: [],
      votes: [],
      voteCount: 0,
      voteNames: {},
      votedNames: [],
      showHistory: false,
      storyHistory: [],
    },
    methods: {
      refinementDone () {
        this.socket.emit('finish', { poker: this.activePoker })
      },
      onRefinementDone () {
        this.refinementFinished = true
      },
      observerChange () {
        window.localStorage.setItem(this.activePoker + '-observer', this.observer)

        if (this.observer) {
          this.socket.emit('observe', { poker: this.activePoker })
        } else {
          this.joinRoom()
        }
      },
      updateNickname () {
        if (!this.nickname) return

        window.localStorage.setItem('nickname', this.nickname)
        this.socket.emit('nickname', { name: this.nickname, poker: this.activePoker })
      },
      castVote (vote) {
        if (this.observer) {
          return
        }

        if (this.voteCount === this.members.voters.length) {
          return
        }

        this.myVote = vote
        this.socket.emit('vote', { poker: this.activePoker, vote: vote })
      },
      setStoryName () {
        this.socket.emit('story', { poker: this.activePoker, name: this.story })
      },
      newStory () {
        if (this.voteCount === 0 || this.observer) {
          return
        }

        // Confirm when not everybody has voted.
        if (this.voteCount !== this.members.voters.length) {
          if (!window.confirm('Are you sure you want to start a new story, not all votes are in yet.')) {
            return
          }
        }

        this.storyUpdated = false
        this.socket.emit('newStory', { poker: this.activePoker, result: this.averagePoint })
      },
      resetHistory () {
        if (!window.confirm('Are you sure you want to clear the history?\n\nThis clears the history for all members in this room.')) {
          return
        }
        this.socket.emit('resetHistory', { poker: this.activePoker })
      },
      popHistory () {
        if (!window.confirm('Are you sure you want to remove the last history item?\n\nThis removes the item for all members in this room.')) {
          return
        }
        this.socket.emit('popHistory', { poker: this.activePoker })
      },
      joinRoom () {
        this.joinPoker = this.joinPoker.toLowerCase()

        this.myVote = ''
        this.voteCount = 0

        if (this.joinPoker === '') {
          this.activePoker = ''
          return
        }

        this.socket.emit('join', { poker: this.joinPoker, name: this.nickname })
      },
      toggleHistory () {
        this.showHistory = !this.showHistory
        window.localStorage.setItem('showHistory', this.showHistory)
      },
      onJoined: function (msg) {
        const currentPoker = this.activePoker
        this.activePoker = this.joinPoker = msg.poker
        this.myVote = msg.vote

        if (currentPoker !== false && currentPoker !== this.activePoker) {
          const url = new URL(window.location)
          url.searchParams.set('room', this.activePoker)
          window.history.pushState({ room: this.activePoker }, '', url)
        }

        if (this.observer) {
          this.socket.emit('observe', { poker: this.activePoker })
        }
      },
      onStoryHistory (msg) {
        this.storyHistory = (msg.stories || []).reverse()
      },
      onReceiveVote (msg) {
        this.votes = msg.votes.sort((a, b) => a - b)
        this.voteCount = msg.voteCount
        this.votedNames = msg.votedNames || []
        this.names = msg.names
        this.voteNames = msg.voteNames || {}

        if (this.voteCount === 0) {
          this.myVote = ''
        }

        document.title = this.baseTitle + ' ' + this.voteCount + '/' + this.members.voters.length
      },
      onPoints (msg) {
        this.points = msg.points
      },
      onPageChange (event) {
        this.joinPoker = (event.state && event.state.room) || ''
        if (this.joinPoker !== this.activePoker) {
          this.socket.emit('leave', { poker: this.activePoker })
        }
        this.joinRoom()
      },
      onStoryName (msg) {
        const changed = (this.story !== msg.name)

        this.story = msg.name
        this.storyUpdated = (this.story !== '')

        if (changed) {
          this.storyChanged = true
          setTimeout(() => this.storyChanged = false, 1400)
        }
      },
      onMemberList (msg) {
        this.members = msg
      },
      getFromURL (key) {
        return new URLSearchParams(window.location.search.substring(1)).get(key)
      },
    },
    computed: {
      unvotedNames () {
        const result = this.names
        for (const name of this.votedNames) {
          const index = result.indexOf(name)
          if (index !== -1) {
            result.splice(index, 1)
          }
        }
        return result
      },
      observing () {
        return this.observer ? 'Observing…' : 'Observe'
      },
      average () {
        if (this.voteCount === 0 || this.voteCount < this.members.voters.length) {
          return ''
        }

        let sum = 0
        for (let i = 0; i < this.votes.length; i++) {
          if (isNaN(this.votes[i])) {
            return 'Coffee break'
          }
          sum += parseFloat(this.votes[i]) //don't forget to add the base
        }

        return Math.round((sum / this.votes.length) * 100) / 100
      },
      averageContext () {
        if (this.average === '') {
          return ''
        }

        // Find the difference between the lowest and the highest votes.
        const lowestIndex = this.points.indexOf(this.votes[0])
        const highestIndex = this.points.indexOf(this.votes[this.votes.length - 1])

        if (highestIndex - lowestIndex > 2) {
          return `Large gap between lowest and highest vote: ${highestIndex - lowestIndex} cards!`
        }
      },
      pointSpread () {
        if (this.average === '') {
          return ''
        }

        // Find the difference between the lowest and the highest votes.
        const lowestIndex = this.points.indexOf(this.votes[0])
        const highestIndex = this.points.indexOf(this.votes[this.votes.length - 1])

        return highestIndex - lowestIndex
      },
      backgroundColor () {
        switch (true) {
          case this.refinementFinished:
            return 'finished'
          case this.pointSpread === '':
            return ''
          case this.pointSpread === 0:
            return 'no-spread'
          case this.pointSpread > 2:
            return 'high-spread'
          default:
            return 'normal-spread'
        }
      },
      standardDeviation () {
        if (this.average === '') {
          return ''
        }

        if (this.votes.length <= 1 || this.votes.indexOf('coffee') !== -1) {
          return 'n/a'
        }

        let powers = 0
        for (let i = 0; i < this.votes.length; i++) {
          powers += Math.pow(parseFloat(this.votes[i]) - this.average, 2)
        }

        return Math.round(Math.sqrt(powers / this.votes.length) * 100) / 100
      },
      averagePoint () {
        if (this.average === '') {
          return ''
        }

        if (this.points.indexOf(this.average) !== -1) {
          return this.average
        }

        const rounded = Math.round(this.average * 10) / 10
        if (this.points.indexOf(rounded) !== -1) {
          return rounded
        }

        // find nearest point.
        for (let index = 0; index < this.points.length - 1; index++) {
          if (isNaN(this.points[index + 1])) {
            return this.average
          }
          if (this.average - this.points[index] > 0 && this.average - this.points[index + 1] < 0) {
            if (this.average - this.points[index] < Math.abs(this.average - this.points[index + 1])) {
              return this.points[index]
            }
            return this.points[index + 1]
          }
        }

        return ''
      },
    },
    created () {
      this.baseTitle = document.title

      this.joinPoker = this.getFromURL('room') || ''

      // Retrieve data from local storage.
      this.nickname = window.localStorage.getItem('nickname')
      this.showHistory = window.localStorage.getItem('showHistory') === 'true'
      if (this.joinPoker) {
        this.observer = window.localStorage.getItem(this.joinPoker + '-observer') === 'true'
      }

      const clientId = window.localStorage.getItem('clientId')
      if (clientId && clientId !== '' && !this.getFromURL('new-client')) {
        this.clientId = clientId
      }

      this.socket = io(window.location.protocol + '//' + window.location.hostname + ':' + location.port + window.location.pathname + 'pokers')

      this.socket.on('userId', (clientId) => {
        if (!this.clientId) {
          this.clientId = clientId
        }
        window.localStorage.setItem('clientId', this.clientId)
        this.socket.emit('identify', { id: this.clientId })
      })

      this.socket.on('welcome', this.joinRoom)
      this.socket.on('reconnect', () => {
        this.socket.emit('identify', { id: this.clientId })
      })

      this.socket.on('points', (msg) => {
        this.onPoints(msg)
        this.loading = false
      })

      this.socket.on('joined', this.onJoined)
      this.socket.on('votes', this.onReceiveVote)
      this.socket.on('stories', this.onStoryHistory)
      this.socket.on('story', this.onStoryName)
      this.socket.on('member-list', this.onMemberList)
      this.socket.on('finished', this.onRefinementDone)

      window.onpopstate = this.onPageChange
      window.onbeforeunload = () => {
        this.socket.emit('exit')
      }
    }
  })

</script>
</body>
</html>
