<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Websockets Client</title>
    <link href="/styles.css" rel="stylesheet">
    <link href="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-simple-notify/dist/vue-simple-notify.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://kit.fontawesome.com/92b43d9045.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<main id="v-app">
    <section class="poker">
        <h1>Scrum Poker</h1>

        <section v-if="!pokerFromURL">
            <form class="rooms">
                <input type="text" v-model="joinPoker"/>
                <input type="submit" @click.prevent="joinRoom()" value="join scrum room">
            </form>
        </section>

        <div v-if="!activePoker">
            Join a scrum room to start voting!
        </div>

        <div v-if="activePoker">
            <p>
                <button @click.prevent="resetVotes()" :class="['new']">New story</button>
                <span :class="'new'" v-if="voteCount === members">All votes are in, start a new story!</span>
            </p>

            <p>
            <span v-for="point of points"><button @click.prevent="castVote(point)"
                                                  :class="[ 'choice', myVote === point ? 'highlighted' : '' ]">
                <i :class="['fas','fa-mug-hot']" v-if="point === 'coffee'"></i>
                {{ point }}</button></span>
            </p>

            <p :class="[ 'results', this.members === this.voteCount ? 'final' : '' ]">
                <button v-for="vote of votes">
                    <i :class="['fas','fa-mug-hot']" v-if="vote === 'coffee'"></i>
                    {{ vote }}
                </button>
            </p>

            <section v-if="average !== ''">
                <p>
                    Average: {{ average }}<br/>
                    <strong>Average story point: {{ averagePoint }}</strong>
                </p>
            </section>
        </div>
    </section>
</main>
<script>
  new Vue({
    el: '#v-app',
    data: {
      socket: {pokers: null},
      votes: [],
      activePoker: false,
      pokerFromURL: false,
      voteCount: 0,
      joinPoker: '',
      members: 0,
      points: {},
      myVote: '',
      average: '',
      averagePoint: '',
    },
    methods: {
      castVote(vote) {
        if (this.activePoker) {
          if (this.voteCount === this.members) {
            return;
          }

          this.socket.pokers.emit('vote', {poker: this.activePoker, vote: vote});
          this.myVote = vote;
        } else {
          alert('You must join a room before voting!');
        }
      },
      receiveVote(msg) {
        if (msg.poker === this.activePoker) {
          this.votes = msg.votes;
          this.voteCount = msg.voteCount;

          if (this.voteCount === 0) {
            this.calculateAverage();
            this.myVote = '';
          }

          if (this.voteCount === this.members) {
            this.calculateAverage();
            return;
          }
        }
      },
      membersUpdated(msg) {
        if (msg.poker === this.activePoker) {
          this.members = msg.members;
        }
      },
      setPoints(msg) {
        this.points = msg.points;
      },
      joinRoom() {
        if (this.activePoker === this.joinPoker) {
          return;
        }

        this.myVote = '';
        this.members = 0;
        this.voteCount = 0;

        this.socket.pokers.emit('leave', {poker: this.activePoker});

        this.activePoker = this.joinPoker;

        if (this.activePoker === '') {
          return;
        }

        this.socket.pokers.emit('join', {poker: this.activePoker});
      },
      calculateAverage() {
        if (this.voteCount === 0) {
          this.average = '';
          this.averagePoint = '';
          return;
        }

        let sum = 0;
        for (let i = 0; i < this.votes.length; i++) {
          if (isNaN(this.votes[i])) {
            this.average = 'Coffee break';
            this.averagePoint = 'Coffee break';
            return;
          }
          sum += parseFloat(this.votes[i]); //don't forget to add the base
        }

        this.average = Math.round((sum / this.votes.length) * 100) / 100;

        if (this.points.indexOf(this.average) !== -1) {
          this.averagePoint = this.average;
          return;
        }

        const rounded = Math.round(this.average * 10) / 10;
        if (this.points.indexOf(rounded) !== -1) {
          this.averagePoint = rounded;
          return;
        }

        // find nearest point.
        for (let index = 0; index < this.points.length - 1; index++) {
          if (isNaN(this.points[index + 1])) {
            this.averagePoint = this.average;
            return;
          }
          if (this.average - this.points[index] > 0 && this.average - this.points[index + 1] < 0) {
            if (this.average - this.points[index] < Math.abs(this.average - this.points[index + 1])) {
              this.averagePoint = this.points[index];
            } else {
              this.averagePoint = this.points[index + 1];
            }
            return;
          }
        }
      },
      resetVotes() {
        this.socket.pokers.emit('resetVotes', {poker: this.activePoker});
      }
    },
    created() {
      let uri = window.location.search.substring(1);
      let params = new URLSearchParams(uri);
      if (params.get('room')) {
        this.joinPoker = params.get('room');
        this.pokerFromURL = true;
      }

      this.socket.pokers = io('http://localhost:3000/pokers');
      this.socket.pokers.on('membersUpdated', (msg) => {
        this.membersUpdated(msg);
      });

      this.socket.pokers.on('joined', () => {
        this.joinPoker = this.activePoker;
        this.socket.pokers.emit('getVotes', {poker: this.activePoker});
      });

      this.socket.pokers.on('votes', (msg) => {
        this.receiveVote(msg);
      });

      this.socket.pokers.on('points', (msg) => {
        this.setPoints(msg);
      });

      if (this.joinPoker) {
        this.joinRoom();
      }
    }
  });

</script>
</body>
</html>
