html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

h1, h2, h3 {
    color: #a4286a;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4em;
    margin: 0 0 0.2em 0;
}

h2 {
    margin: 0 0 0.2em 0;
}

label {
    cursor: pointer;
}

.fas {
    color: #a4286a;
}
.fas.observer {
    color: black;
}

button,
input[type=submit] {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    padding: 5px 7px;
    cursor: pointer;
    border: 1px solid darkgray;
    border-radius: 2px;
    outline: none;
}
input[type=text] {
    font-size: 16px;
    padding: 4px;
    border: 1px inset;
}

button .fas {
    color: black;
    margin-right: 3px;
}

a {
    color: #a4286a;
}

.poker, .credits {
    max-width: 800px;
    margin: 20px auto;
}

.credits {
    color: #666;
    font-size: 16px;
    font-variant: all-small-caps;
    text-align: center;
    padding-bottom: 20px;
}

.poker {
    padding: 20px;
    border: 1px solid #a4286a;
    border-radius: 4px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.rooms {
    margin-bottom: 1em;
}

div.observe {
    margin-left: 5px;
    margin-bottom: 14px;
}

/* USERNAME */
form.username {
    margin-bottom: 6px;
    margin-left: 6px;
    min-height: 30px;
}
form.username .fas {
    color: black;
}

.username input[type=submit] {
    display: none;
}
.username:active input[type=submit],
.username:hover input[type=submit],
.username.hover input[type=submit] {
    display: inline-block;
}
.username input[type=text] {
    border: 1px solid transparent;
}
.username:active input[type=text],
.username:hover input[type=text],
.username.hover input[type=text] {
    border: 1px inset;
}

/* NEW STORY */
button.newStory:hover,
button.newStory:hover .fas,
button.newStory:active,
button.newStory:active .fas {
    color: #a4286a;
}
button.newStory[disabled],
button.newStory[disabled] .fas {
    color: darkgrey;
}

.story-updated {
    position: relative;
    top: 3px;
    margin-left: 4px;
    color: #477608;
}
input[type=text].changed {
    box-shadow: 0 0 0 2px #477608;
    transition: box-shadow 250ms ease-in-out;
    border-radius: 3px;
}

/* POINTS */
button.choice .fas {
    color: #a4286a;
}
button.choice {
    font-size: 14px;
    min-width: 40px;
    height: 40px;
    border-radius: 4px;
    border-width: 0;
    margin: 0 4px 8px;
    cursor: pointer;
    outline: 0;
    user-select: none;
}
button.choice:active,
button.choice:hover {
    background-color: darkgray;
}
button.choice:first-child {
    margin-left: 0;
}

button.picked {
    border: 2px solid #477608;
}

button.highlighted,
button.highlighted:hover,
button.highlighted:active {
    background-color: #a4286a;
    border-color: #a4286a;
    color: white;
}
button.highlighted .fas {
    color: white;
}

button.result {
    font-size: 16px;
    min-width: 50px;
    height: 50px;
    border-radius: 4px;
    border-width: 0;
    margin: 0 4px 8px;
    padding: 0 14px;
    box-shadow: none;
}
button.result:first-child {
    margin-left: 0;
}
button.result:focus {
    outline: 0;
}
p.final > button.result,
p.final > button.result:active {
    font-weight: bold;
    border-color: #a4286a;
    border-width: 2px;
    border-style: solid;
    color: #a4286a;
    cursor: help;
}
button.result > .fas {
    color: #a4286a;
}
button.result > .vote-names {
    position: absolute;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #a4286a;
    display: none;
    background: white;
    box-shadow: 3px 3px 0 -1px #a4286a;
}

button.result:active > .vote-names,
button.result:hover > .vote-names {
    display: block;
}

div.voting {
    display: flex;
}
div.voted {
    flex: 50%;
    color: #477608;
}
div.unvoted {
    flex: 50%;
    color: #a4286a;
}

span.allVoted {
    padding: 6px;
    position: relative;
    top: 1px;
}

div.pokerMain {
    margin-top: 14px;
}
hr {
    padding: 0;
    width: 100%;
    height: 0;
    margin: 16px 0;
    border: none;
    border-top: 1px dashed #a4286a;
}

.storyHistory h3 {
    cursor: pointer;
    user-select: none;
}
.storyHistory.hidden .story {
    display: none;
}
.storyHistory h3::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f424';
    font-size: 14px;
    margin-left: 8px;
}
.storyHistory.hidden h3::after {
    font-family: 'Font Awesome 5 Free';
    content: '\f422';
    font-size: 14px;
    margin-left: 8px;
}
.story button {
    margin-bottom: 16px;
}
.story button[disabled] .fas {
    color: darkgrey;
}
.story ul {
    margin-top: 4px;
}

@media only screen and (max-width: 820px) {
    main .poker:first-child {
        margin-top: 0;
    }

    .poker, .credits {
        padding: 10px 15px;
    }

    h1 {
        font-size: 3em;
    }
    input[type=text] {
        width: 120px;
    }
}
