html, body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.poker {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #a4286a;
    border-radius: 4px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
}

.tab-row {
    padding-top: 20px;
}

.tab-btn.active {
    background: blue;
    color: white;
}

button, .rooms input[type=submit] {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 4em;
    margin: 0 0 0.2em 0;
    color: #a4286a;
}

.fas {
    color: #a4286a;
}

button.choice, button.choice:focus {
    font-size: 14px;
    min-width: 40px;
    height: 40px;
    border-radius: 4px;
    border-width: 0;
    padding: 10px;
    margin: 0 4px;
    cursor: pointer;
    outline: 0;
}
button.choice:hover {
    background-color: darkgray;
}

button.highlighted, button.highlighted:hover, button.highlighted.active {
    background-color: #a4286a;
    color: white;
}
button.highlighted .fas {
    color: white;
}

span.new {
    padding: 6px;
    position: relative;
    top: 3px;
}
button.new, .rooms input[type=submit] {
    padding: 6px;
    cursor: pointer;
    border: 1px solid darkgray;
    border-radius: 2px;
    outline: none;
}

p.results > button {
    font-size: 16px;
    min-width: 50px;
    height: 50px;
    border-radius: 4px;
    border-width: 0;
    margin: 0 4px;
    padding: 0 14px;
    outline: 0;
    box-shadow: none;
}
p.results > button:focus {
    outline: 0;
}
p.final > button, p.final > button.active {
    font-weight: bold;
    border-color: #a4286a;
    border-width: 2px;
    border-style: solid;
    color: #a4286a;
    outline: 0;
}

.rooms {
    margin-bottom: 1em;
}
.rooms input {
    padding: 4px;
    font-size: 14px;
}
